@import './custom.scss';

// /. imports


@media screen and (max-width: 1400px) {
    .header__categories-nav {
        .categories-nav__list {
            justify-content: center;
        }
    }

    .header__search-form {
        border-left: none;
        border-top: 1px solid #F0F0F0;
    }
}

@media screen and (max-width: 1200px) {
    .discount-card {
        flex-direction: column;
        min-height: 380px;
        height: auto;
        background-position: top 20px center;
    }

    .discount-card__image {
        flex: 0 0 220px;
        order: -1;
        margin-bottom: 10px;
    }

    .discount-card__description {
        padding: 0;
    }

    .discount-card__percent {
        text-align: center;
    }
}

@media screen and (max-width: 992px) {
    .header__categories-nav {
        padding: 20px 26px;

        .categories-nav__list {
            flex-direction: column;
            align-items: flex-start;
        }

        .categories-nav__template {
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    .offer-slider__slide {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .offer-slider__caption {
        margin-bottom: 30px;
        font-size: 40px;
    }

    .offer-slider__text {
        padding: 20px;
    }

    .offer-slider__image {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 767px) {

    .sale-slider__slide,
    .categories-slider__slide {
        margin: 0 auto;
    }
}