$fz-main: 14px;
$fz-title: 40px;

$dark-color: #303030;
$white-color: #FFF;
$gray-color: #F8F8F8;
$gold-color: #E1A661;
$red-color: #E24B33;
$green-color: #43807F;

// /. custum variables

$font-family-base: 'Inter',
    sans-serif;
$bs-body-color: $dark-color;
$bs-body-bg: $white-color;

$grid-breakpoints: (
    init: 0,
    xs: 320px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$container-max-widths: (
    xs: 1300px,
);

.form-select {
    padding-right: 0 !important;
    border-color: transparent !important;

    // background-position: right 1.75rem center;
    &:focus {
        box-shadow: none !important;
    }
}

// /. overwrited


@import "~bootstrap/scss/bootstrap.scss";

// /. required imports