@import '../libs/normalize.css';
@import './reset.scss';
@import './custom.scss';
@import './mixins.scss';

/* /. imports */

html {
    font-size: $fz-main;
    height: 100%;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.section-title {
    font-family: 'Prata', sans-serif;
    font-size: $fz-title;
    line-height: 40px;
    color: $dark-color;
    margin: 0;
}

// /. general-styles

.header {
    margin-bottom: 20px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__city-selection {
        svg {
            order: -1;
            transition: all .3s ease-in-out;
            opacity: 1;

            &:hover {
                opacity: 0.5;
            }
        }

        .dropdown {
            &:active {
                border-color: transparent;
            }

            &:hover~svg {
                opacity: 0.5;
            }
        }
    }

    &__phone {
        svg {
            margin-right: 10px;
            transition: all .3s ease-in-out;
            opacity: 1;

            &:hover {
                opacity: 0.5;
            }
        }

        &:hover {
            cursor: pointer;

            svg {
                opacity: 0.5;
            }
        }
    }

    &__account {
        span {
            color: $dark-color;
        }

        a {
            transition: all .3s ease-in-out;
            opacity: 1;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    &__buttons {
        align-items: center;
    }

    &__button {

        background-color: transparent;
        transition: all .3s ease-in-out;
        padding: .2rem;

        &:not(:last-child) {
            margin-right: 28px;
        }

        svg {
            transition: all .3s ease-in-out;
        }

        &:hover {
            background-color: $gray-color;
        }

        &:active {
            background-color: #E8E7E7;
        }
    }

    &__button_favourite {
        svg {
            fill: #303030;
        }
    }

    &__button_rating {
        svg {
            stroke: #303030;
        }
    }

    &__button_basket {

        svg {
            stroke: #303030;
        }

        &:active {
            svg rect {
                fill: none;
            }
        }
    }

    a {
        color: $dark-color;
        font-size: $fz-main;
        line-height: 14px;
        font-weight: 400;
    }

    &__bar {
        padding: 24px 0;
    }

    &__nav {
        display: flex;
        background-color: $gray-color;
    }

    &__categories-nav {
        padding: 25px 50px;
    }
}

.logo {
    flex: 0 0 183px;
    height: 52px;
    overflow: hidden;

    img {
        object-fit: cover;
    }
}

.categories-nav {
    &__list {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    &__template {
        &:not(:last-child) {
            margin-right: 60px;
        }
    }

    &__link {
        font-size: 13px;
        line-height: 13px;
        font-weight: 500;
        color: $dark-color;
        text-transform: uppercase;
        opacity: 1;
        transition: all .3s ease-in-out;

        &:hover {
            opacity: 0.5;
        }
    }

    &__link.active {
        opacity: 0.5;
    }
}

.search-form {
    width: 100%;
    height: 100%;
    position: relative;
    border-left: 1px solid #F0F0F0;

    &__input {
        padding: 24px 24px 24px 56px;
        background-color: transparent;
        border: none;
        width: 100%;
        height: 100%;

        &::placeholder {
            font-size: $fz-main;
            font-weight: 400;
            color: #A2A2A2;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        padding: 5px 5px 5px 26px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

// /. header

.offer {
    margin: 20px 0 120px 0;
}

.offer-slider {
    &__slide {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $gray-color;

        background-image: url(../images//diamond.svg);
        background-position: top 24px left;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 560px;
    }

    &__text {
        font-family: 'Prata', sans-serif;
        color: $dark-color;
        font-weight: 400;
        padding: 20px 0 20px 126px;
    }

    &__description {
        font-size: 20px;
        margin-bottom: 34px;
    }

    &__caption {
        font-size: 50px;
        margin-bottom: 62px;
    }

    &__button {
        display: inline-block;
        font-size: $fz-main;
        color: $white-color;
        font-weight: 500;
        text-transform: uppercase;
        background-color: $dark-color;
        padding: 20px 56px;
    }

    &__image {
        flex: 0 0 548px;
        height: 548px;
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }
}

// /. offer

.categories {
    margin-bottom: 120px;
}

.categories-slider {
    &__slide {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 200px;
        height: 260px;
        overflow: hidden;
        background-color: $gray-color;
        position: relative;
    }

    &__image {
        width: 128px;
        height: 128px;
        overflow: hidden;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%) scale(1);
        transition: all .3s ease-in-out;

        &:hover {
            transform: translate(-50%, -40%) scale(1.05);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;

        }
    }

    &__name {
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        text-align: center;
        color: $dark-color;
        padding: 17px 26px;
        z-index: 1;
    }
}

// /. categories

.tags-list {

    &__menu {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    &__template {
        background-color: #F0F0F0;
        border-radius: 21px;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: #DDDDDD;
        }

        &:active {
            background-color: $dark-color;

            .tags-list__link {
                color: $white-color;
            }
        }
    }

    &__template.active {
        background-color: $dark-color;

        .tags-list__link {
            color: $white-color;
        }
    }

    &__link {
        display: inline-block;
        padding: 12px 30px;
        font-size: $fz-main;
        font-weight: 400;
        color: $dark-color;
        transition: all .3s ease-in-out;
    }
}

// /. sale

.sale {
    margin-bottom: 120px;
}

.sale-slider {

    &__slide {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 310px;
        height: 370px;
        overflow: hidden;
        border: 1px solid #F0F0F0;
        padding: 26px 24px;
    }

    &__preview {
        position: relative;
    }

    &__tag {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #5B8A8F;
        color: $white-color;
        padding: 4px 10px;
        border-radius: 15px;
        font-size: 13px;
        font-weight: 500;
    }

    &__controls {
        z-index: 2;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__button {
        background-color: transparent;

        svg {
            transition: all .3s ease-in-out;
            fill: #C9C9C9;
        }

        &:hover {
            svg {
                fill: #979797
            }
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__button_add {
        &:active {
            svg {
                fill: #E24B33
            }
        }
    }

    &__image {
        width: 200px;
        height: 200px;
        overflow: hidden;
        margin: auto;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__price {
        margin-bottom: 16px;
    }

    &__name {
        font-size: $fz-main;
        font-weight: 400;
        color: $dark-color;
    }
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__values {
        margin-right: 10px;

        :first-child {
            margin-right: 16px;
        }
    }

    &__value {
        font-size: 18px;
        font-weight: 600;
        color: $dark-color;
    }

    &__value_old {
        font-size: $fz-main;
        font-weight: 400;
        color: #8F8F8F;
        text-decoration: line-through;
    }

    &__discount {
        background-color: $red-color;
        color: $white-color;
        padding: 4px 8px;
        border-radius: 15px;
        font-size: 13px;
        font-weight: 500;
    }
}

// /. sale


.discounts {
    margin-bottom: 120px;
}

.discount-card {
    display: flex;
    width: 100%;
    height: 290px;
    overflow: hidden;

    background-color: $gray-color;
    background-image: url(../images/diamond.svg);
    background-size: contain;
    background-position: top 25px left;
    background-repeat: no-repeat;

    &__description {
        display: flex;
        flex: 1 1 auto;
        padding: 10px 10px 45px 0;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__name {
        font-size: 20px;
        line-height: 160%;
        font-weight: 600;
        color: $dark-color;
        text-transform: uppercase;
        padding-left: 25px;
        margin-bottom: 30px;
    }

    &__percent {
        font-size: 24px;
        font-weight: 600;
        color: $white-color;
        padding: 6px 26px;

        strong {
            font-size: 36px;
        }
    }

    &__percent_green {
        background-color: $green-color;
    }

    &__percent_red {
        background-color: $red-color;
    }

    &__percent_gold {
        background-color: $gold-color;
    }

    &__image {
        flex: 0 0 180px;
        height: 100%;
        overflow: hidden;
        position: relative;

        img {
            @include image-centered;
            object-fit: contain;
        }
    }
}

// /. discounts

.articles {
    padding-bottom: 80px;

    &__link {

        display: flex;
        align-items: center;

        span {
            font-size: $fz-main;
            line-height: 100%;
            font-weight: 400;
            color: $dark-color;
            text-transform: uppercase;
            margin-right: 12px;
        }
    }
}

.article-card {
    &__image {
        width: 100%;
        height: 381px;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px;

        img {
            @include image-centered;
        }
    }

    &__description {
        text-align: start;
    }

    &__date {
        display: inline-block;
        font-size: $fz-main;
        line-height: 14px;
        font-weight: 400;
        color: #8F8F8F;
        margin-bottom: 14px;
    }

    &__title {
        font-size: 16px;
        line-height: 150%;
        font-weight: 500;
        color: $dark-color;

        a {
            color: inherit
        }
    }
}

// /. article

.popular {
    margin-bottom: 120px;
}

.day-product-slider {

    &__slide {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__preview {
        flex: 0 0 550px;
        overflow: hidden;
        margin-right: 100px;
    }

    &__body {
        flex: 1 1 auto;
        overflow: hidden;
    }

    &__rating {
        display: flex;
        margin-bottom: 24px;
        align-items: center;
    }

    &__star-rating {
        margin-right: 10px;
    }

    &__rating-count {
        font-size: $fz-main;
        line-height: 100%;
        font-weight: 400;
        color: $dark-color;
    }

    &__description {
        padding-bottom: 20px;
        border-bottom: 1px solid #F0F0F0;
    }

    &__properties {
        padding-top: 30px;
    }

    &__confirmation {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__buttons {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        margin-right: 40px;
    }

    &__button {
        font-size: $fz-main;
        color: $white-color;
        font-weight: 500;
        padding: 20px;
        text-transform: uppercase;
        background-color: $dark-color;
        text-align: center;
        border: 1px solid $dark-color;
        margin-bottom: 20px;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: #505050;
        }

        &:active {
            background-color: #000;
            color: $white-color;
        }
    }

    &__button_quick {
        background-color: transparent;
        color: $dark-color;
        margin: 0;

        &:hover {
            background-color: $dark-color;
            color: $white-color;
        }
    }

    &__color-picker {
        margin-bottom: 30px;

        .color-picker-slider {
            max-width: 152px;
            margin: 0 auto 0 0;
        }
    }

    &__size-picker {
        margin-bottom: 40px;
    }

    &__name {
        font-family: 'Prata', sans-serif;
        font-size: 32px;
        line-height: 100%;
        font-weight: 400;
        color: $dark-color;
        margin-bottom: 25px;
    }

    &__identifier {
        font-size: $fz-main;
        font-weight: 400;
        color: #8F8F8F;
    }

    &__offer {
        display: flex;
        align-items: center;
    }

    &__price {
        margin-right: 36px;

        .price__values {
            margin-right: 16px;
        }
    }

}

.day-product-image-slider {
    position: relative;

    &__tags {
        margin: 2.5px;
        position: absolute;
        top: 0;
        left: 0;
        right: auto;
    }

    &__tag {
        font-size: 13px;
        color: $white-color;
        font-weight: 500;
        padding: 4px 10px;
        border-radius: 15px;

        &:not(:last-child) {
            margin-right: 4px;
        }
    }

    &__tag_black {
        background-color: #495159;
    }

    &__tag_gold {
        background-color: $gold-color;
    }

    &__tag_green {
        background-color: #5B8A8F;
    }

    &__image {
        height: 550px;
        width: 100%;
        overflow: hidden;
    }
}

.color-picker-slider {
    &__slide {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 32px;
        height: 32px;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid #DADADA;
    }

    &__slide.active {
        border: 1px solid $dark-color;
    }

    &__color {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }
}

.size-picker-slider {
    &__slide {
        max-width: 50px;
        min-height: 32px;
        border: 1px solid $dark-color;
        background-color: transparent;
        color: $dark-color;
        padding: 5px;
        font-size: $fz-main;
        font-weight: 400;
        text-align: center;
        transition: all .3s ease-in-out;

        &:hover {
            border-color: #DADADA;
            cursor: pointer;
        }

        &:active {
            background-color: $dark-color;
            color: $white-color;
        }
    }

    &__slide.active {
        background-color: $dark-color;
        color: $white-color;
    }
}

.colors-picker {

    &__label {
        font-size: 12px;
        font-weight: 600;
        color: $dark-color;
        text-transform: uppercase;
        margin-bottom: 14px;
    }

    &__list {
        display: flex;
    }

    &__template {

        display: flex;
        align-items: center;
        justify-content: center;

        width: 32px;
        height: 32px;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid #DADADA;

        &:not(:last-child) {
            margin-right: 8px;
        }
    }

    &__template.active {
        border: 1px solid $dark-color;
    }

    &__color {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }

    &__color_grey {
        background-color: #D9D9D9;
    }

    &__color_gold {
        background-color: $gold-color;
    }

    &__color_orange {
        background-color: #EA8C48;
    }

    &__color_green {
        background-color: #A7E492;
    }
}

.size-picker {

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 14px;
    }

    &__tooltip-btn {
        background-color: transparent;
        display: flex;
        align-items: center;

        svg {
            fill: #F0F0F0;
            transition: all .3s ease-in-out;

            &:hover {
                fill: #D3D3D3;
                cursor: pointer;
            }
        }
    }

    &__label {
        font-size: 12px;
        font-weight: 600;
        color: $dark-color;
        text-transform: uppercase;
        margin-right: 10px;
    }
}

.actions-list {

    display: flex;
    flex-direction: column;

    &__button {
        background-color: transparent;
    }

    svg {
        margin-right: 10px;
    }

    &__template {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__label {
        font-size: $fz-main;
        font-weight: 300;
        color: $dark-color;
    }
}

.timer {
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    padding: 12px 14px;

    &__section {
        width: 52px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #D0D0D0;
        background-color: $white-color;
        padding: 5px 7px;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__number {
        font-size: 16px;
        font-weight: 700;
        color: $dark-color;
    }

    &__label {
        font-size: 11px;
        font-weight: 300;
        color: $dark-color;
    }

    &__separator {
        font-size: 18px;
        color: $dark-color;
        margin-right: 10px;
    }
}

.star-rating {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    cursor: pointer;

    &__caption {
        width: 1px;
        height: 1px;
        clip: rect(0 0 0 0);
        overflow: hidden;
        position: absolute;
    }

    &__input {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: 0;
        cursor: pointer;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        overflow: hidden;
        clip: rect(0 0 0 0);

        &:hover~.star-rating__label svg {
            fill: rgba($color: $gold-color, $alpha: 1);
        }

        &:checked~.star-rating__label svg {
            fill: rgba($color: $gold-color, $alpha: 1);
        }

        &:disabled~.star-rating__label {
            pointer-events: none;
        }
    }

    &__label {

        &:hover {
            cursor: pointer;
        }

        &:not(:last-child) {
            margin: 0 0 0 5px;
        }

        svg {
            fill: none;
            transition: all .3s linear;
        }
    }
}


// /. popular