@import '../libs/normalize.css';
@import './reset.scss';
@import './custom.scss';
@import './mixins.scss';

/* /. imports */

html {
    font-size: $fz-main;
    height: 100%;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    color: $dark-color;
    background-color: $white-color;
    font-family: Inter, sans-serif;
    height: 100%;
}

.section-title {
    font-family: 'Prata', sans-serif;
    font-size: $fz-title;
    line-height: 40px;
    color: $dark-color;
    margin: 0;
}

// /. general-styles

.header {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__phone {
        svg {
            margin-right: 10px;
        }
    }

    &__account {
        span {
            color: $dark-color;
        }
    }

    &__buttons {
        align-items: center;

        :not(:last-child) {
            margin-right: 28px;
        }

        button {
            background-color: transparent;
        }
    }

    a {
        color: $dark-color;
        font-size: $fz-main;
        line-height: 14px;
        font-weight: 400;
    }

    &__bar {
        padding: 24px 0;
    }

    &__nav {
        display: flex;
        background-color: $gray-color;
    }

    &__categories-nav {
        padding: 25px 50px;
    }
}

.logo {
    flex: 0 0 183px;
    height: 52px;
    overflow: hidden;

    img {
        object-fit: cover;
    }
}

.categories-nav {
    &__list {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    &__template {
        &:not(:last-child) {
            margin-right: 60px;
        }
    }

    &__link {
        font-size: 13px;
        line-height: 13px;
        font-weight: 500;
        color: $dark-color;
        text-transform: uppercase;
        opacity: 1;
    }

    &__link.active {
        opacity: 0.5;
    }
}

.search-form {
    width: 100%;
    height: 100%;
    position: relative;
    border-left: 1px solid #F0F0F0;

    &__input {
        padding: 24px 24px 24px 56px;
        background-color: transparent;
        border: none;
        width: 100%;
        height: 100%;

        &::placeholder {
            font-size: $fz-main;
            font-weight: 400;
            color: #A2A2A2;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        padding: 5px 5px 5px 26px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

// /. header

.offer {
    margin: 20px 0 120px 0;

    &__slide {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $gray-color;

        background-image: url(../images//diamond.svg);
        background-position: top 24px left;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 560px;
    }

    &__text {
        font-family: 'Prata', sans-serif;
        color: $dark-color;
        font-weight: 400;
        padding: 20px 0 20px 126px;
    }

    &__description {
        font-size: 20px;
        margin-bottom: 34px;
    }

    &__caption {
        font-size: 50px;
        margin-bottom: 62px;
    }

    &__button {
        display: inline-block;
        font-size: $fz-main;
        color: $white-color;
        font-weight: 500;
        text-transform: uppercase;
        background-color: $dark-color;
        padding: 20px 56px;
    }

    &__image {
        flex: 0 0 548px;
        height: 548px;
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }
}

// /. offer

.categories {
    margin-bottom: 120px;

    &__slide {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 200px;
        height: 260px;
        overflow: hidden;
        background-color: $gray-color;
        position: relative;
    }

    &__image {
        width: 128px;
        height: 128px;
        overflow: hidden;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__name {
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        text-align: center;
        color: $dark-color;
        padding: 17px 26px;
        z-index: 1;
    }
}

// /. categories

.tags-list {

    &__menu {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    &__template {
        background-color: #F0F0F0;
        border-radius: 21px;
        padding: 12px 30px;
    }

    &__template.active {
        background-color: $dark-color;

        .tags-list__link {
            color: $white-color;
        }
    }

    &__link {
        font-size: $fz-main;
        font-weight: 400;
        color: $dark-color;
    }
}

// /. sale

.sale {
    margin-bottom: 120px;
}

.sale-slider {

    &__slide {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 310px;
        height: 370px;
        overflow: hidden;
        border: 1px solid #F0F0F0;
        padding: 26px 24px;
    }

    &__preview {
        position: relative;
    }

    &__tag {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #5B8A8F;
        color: $white-color;
        padding: 4px 10px;
        border-radius: 15px;
        font-size: 13px;
        font-weight: 500;
    }

    &__controls {
        z-index: 2;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            background-color: transparent;

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    &__image {
        width: 200px;
        height: 200px;
        overflow: hidden;
        margin: auto;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__information {}

    &__doscount {
        background-color: $red-color;
        color: $white-color;
        padding: 4px 8px;
        border-radius: 15px;
        font-size: 13px;
        font-weight: 500;
    }

    &__price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }

    &__value {
        font-size: 18px;
        font-weight: 600;
        color: $dark-color;
    }

    &__value_old {
        font-size: $fz-main;
        font-weight: 400;
        color: #8F8F8F;
        text-decoration: line-through;
    }

    &__name {
        font-size: $fz-main;
        font-weight: 400;
        color: $dark-color;
    }
}